.main{

        display: flex;
        justify-content: space-evenly;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        background-color: #ffc107;
        color: bisque;
        font-size: 28px
    }
    .main .four{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: brown;
        padding-bottom: 20px;text-decoration: none;}
        button{
            background-color: brown;
font-weight: 900;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.204em;
    }
    .hover .Lii{
        padding-right: 15px
    }
    .hover{
        display: flex;
justify-content: space-evenly;
background-color: #01559b;
list-style-type: none;
font-size: 28px;
line-height: 1.2;
letter-spacing: 0.043em;text-decoration: none;
color: white;
padding-left: 50px;
padding-right: 50px;
}
div.fo{
    display: flex;
color: white;
background: #007bff;
}
   
div.papa{
    padding-left: 70px;
line-height: 1.6;
padding-top: 16px;
padding-bottom: 16px;
font-size: 18px;
}
